html,body{
	font-family: 'Roboto Slab', sans-serif;
}






/************* MOBILE *****************/
.navbar-mobile{
	display: none;
	background-color: #32312D;
	padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    height: 100%;
    min-height: 50px;
}

.navbar-mobile__nav-toggle{
	color: white;
    cursor: pointer;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 52px;
}

.navbar-mobile .navbar-mobile__hamburger, .navbar-mobile .navbar-mobile__hamburger:before, .navbar-mobile .navbar-mobile__hamburger:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: ''; 
}

.navbar-mobile .navbar-mobile__hamburger:before {
  top: -8px; 
}

.navbar-mobile .navbar-mobile__hamburger:after {
  bottom: -8px; }

.navbar-mobile .navbar-mobile__hamburger, .navbar-mobile .navbar-mobile__hamburger:before, .navbar-mobile .navbar-mobile__hamburger:after {
  transition: all 500ms ease-in-out; }

.navbar-mobile.active .navbar-mobile__hamburger:before {
    transform: rotate(45deg);
}

.navbar-mobile.active .navbar-mobile__hamburger:after {
    transform: rotate(-45deg);
}

.navbar-mobile.active .navbar-mobile__hamburger:before, .navbar-mobile.active .navbar-mobile__hamburger:after {
    top: 0;
}

.navbar-mobile.active .navbar-mobile__hamburger {
    background-color: transparent;
}

.navbar-mobile__nav-toggle-title{
	font-size: 0.8em;
    position: absolute;
    top: 30%;
    text-decoration: none;
    color: white;

}

.navbar-mobile__title{
	text-align: center;
    color: white;
    font-size: 20px;
    top: 10px;
    width: 70%;
    font-weight: 700;
    position: relative;
}

.navbar-mobile__title a{
	color:white;
	text-decoration: none;
}

/************* DESKTOP *****************/

.desktop-menu{
	display: block;
	z-index: 99999;
	position: relative;
	background-color: rgba(46,45,45,0.5);

}

.navbar{
	width: 100%;
	float: left;
	z-index: 9999;
}

.navbar__brand{
	width: 20%;
	float: left;
	display: inline-block;
}

.navbar__brand a{
	color:white;
	font-size: 36px;
	text-decoration: none;
	font-family: 'Lato',sans-serif;
	font-weight: 100;
}

.navbar__right{
	width: 80%;
	float: left;
	display: inline-block;
}

.nav{
	margin-top: 20px;
	width: 550px;
	float: right;
}

.nav__list-item{
	display: inline-block;
}

.nav__list-item a{
	color:white;
	font-size: 15px;
	text-decoration: none;
	font-family: 'Roboto Slab';
	margin-right: 20px;
}

.nav__list-item a:hover{
	color:#CD9033;
	cursor: pointer;
}

/***********CAROUSEL**************/


.carousel {
    position: relative;
    top: -57px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.carousel input[type="radio"]{
	display: none;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: 90vh;
    width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}



/***********BODY****************/



.carousel__info{
	padding:20px;
	background-color: #CD9033;
	color:white;
	position: absolute;
	width: 320px;
	height: auto;
	z-index: 11111;
	bottom:80px;
}

.carousel__info-title{
	font-size: 30px;
	margin-bottom: 20px;
	text-align: left;
}

.carousel__info-link{
	color:white;
	cursor: pointer;
	text-decoration: none;
}

.carousel__info-link:hover{
	color:black;

}

.background-img{
	background-image: url('images/project1.jpg');
	background-size: cover;
	background-position: 100%;
	width: 100%;
	position: absolute;
	top:0;
	height: 100vh;
	z-index: -1;
}


.icon__arrow{
	font-size: 3em;
	color:white;
	position: relative;
	top:10px;
}

.news-block{
	position: relative;
	    top: -64px;
	height: 80px;
	background-color: #2B2B2B;
}

.news-block__title{
	width: 200px;
	font-family: 'Roboto Slab';
	color:white;
	text-align: left;
	display: inline-block;
	margin-top: 20px;
	font-size: 20px;
	float: left;
}

.separation-line{
	height: 40px;
	width: 1px;
	background-color: gray;
	display: inline-block;
	margin-top: 15px;
	float: left;
}

.news-block__text{
	font-family: 'Roboto Slab';
	font-weight: 100;
	color:white;
	margin-top: 22px;
	font-size: 15px;
	display: inline-block;
	margin-left: 10px;
}
.button__container{
	display: inline-block;
	float: right;
	margin-top: 20px;
}

.button__container-center{
	display: block;
	text-align: center;
	margin-top: 20px;
}

.button{
	border-radius: 20px;
	background-color: #CD9033;
	border-color:#CD9033;
	color:white;
	font-family: 'Roboto Slab';
}

.button a{
	color:white;
	text-decoration: none;
	cursor: pointer;
}

.button a:hover{
	color:#333333;
}

.items{
	position: relative;
	margin-bottom: 100px;
}

.item__icon{
	font-size: 3em;
	text-align: center;
}

.items__title{
	color:#CD9033;
	text-align: center;
	font-size:18px;
}

.items__text{
	margin-top: 10px;
	font-size: 14px;
	font-weight: 100;
	text-align: center;
}

.testimonials{
	position: relative;

	background-color: #333333;
	padding-top: 50px;
	padding-bottom: 60px;
}

.testimonials__text{

	padding-bottom: 20px;
	font-weight: 200;
	text-align: center;
	color:white;
	font-size: 18px;
	width: 80%;
	margin: 0 auto;
}

.icon-left{
	font-size: 1.5em;
	position: absolute;
	top:40%;
	left: 20px;
	cursor: pointer;
}

/***************ABOUT**************/
.section-about{
	margin-top: 40px;
	margin-bottom: 80px;
}

.about__img{
	width: 100%;
}

h1{
	font-size: 30px;
	font-weight: 400;
}

h2{
	font-size: 20px;
}

p{
	font-size: 14px;
	font-weight: 300;
}

/************PORTFOLIO*************/

.portfolio{
	padding-top: 40px;
	padding-bottom: 80px;
	background-color: #F5F5F5;
}


.portfolio__item{
	margin-bottom: 10px;
	font-weight: 300;
}

.portfolio__item-icon{
	font-size: 10px;
	color:gray;
}


/*************SERVICES************/
.services{
	padding-top: 40px;
	padding-bottom: 80px;
	background-color: #F5F5F5;
}

.services .services__item{
	width: 200px;
	height: 200px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
	background-color: white;
}

.services__item-title{
	padding: 20px;
	text-align: center;
	font-size: 20px;
	position: relative;
    top: 30%;
}

/*********PROJECTS************/

.projects{
	padding-top: 40px;
	padding-bottom: 80px;
	background-color: #F5F5F5;
}

.projects__row{
	margin-bottom: 20px;
}

.projects__item{
	background-color: white;
	border-radius: 4px;
	box-shadow: 4px 2px 9px 1px #e1e1e1;
	position: relative;
}

.projects__link{
	margin-top: 10px;
	color:#CD9033;
	width: 100%;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.projects__link:hover{
	color:#333;
}

.projects__item .projects__image{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: 200px;
	background-size: cover;
	background-position: 100%;
}

.projects__item .projects__item-description{
	padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

/*************CONTACTS************/



.contacts{
	margin-top:50px;
	margin-bottom: 40px;
}

.contacts .contacts__msg{
	font-size: 20px;
	font-weight: 500;
}

.contact-form{
	margin-top: 30px;
	width: 100%;
	float: left;
}

.form-input{
	width: 100%;
}

.form-textarea{
	height: 130px;
	width: 100%;
}

.form-submit{
	float: right;
	border-radius: 0 !important;
}

.form-submit:hover{
	background-color: #E8D482;
	border:none;
	color:white;
}

.googlemaps{
	width: 100%;
	height: 350px;
}


/**************PROJECT**************/

.project{
background-color: #f3f3f3;

}


.project__container{
}

.project__left{
	padding-top: 50px;
	padding-right: 20px;
	
}

.project__left .project__title{
	color:#535353;
	font-weight: 700;
}

.project__text{
	margin-top: 40px;
	font-weight: 300;
	font-size: 15px;
}

.project__right{
	margin: 0;
}

.project__right img{
	width: 100%;
}


/*************FOOTER*************/

.footer{
	position: relative;
	padding-top: 40px;
	padding-bottom: 20px;
	background-color: rgba(226,218,205,0.5);
}

.footer__contact{
	margin-top: 8px;
}

.footer__contact-icon{
	display: inline-block;
	float: left;
	font-size: 12px;
	margin-right: 10px;
	color:gray;
	margin-top: 5px;
}

.footer__contact-title{
	font-size: 12px;
	color:gray;
}

.footer__contact-text{
	font-size: 12px;
	color:gray;
	font-weight: 100;
}

.footer__icon{
	display: inline-block;
	margin-right: 15px;
	font-size: 20px;
}